
<%= form_for @changeset, Routes.user_path(@conn, :update, @userfrm_db), fn f -> %>
  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>